
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

input[type="file"] {
  padding: 6px;
  border: none;
  background-color: #fafafa;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Style for required fields */
input:required {
  border: 2px solid #4CAF50;
}

@media (max-width: 500px) {
  div {
    padding: 15px;
    width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
